html{
    font-size:24px;
}

body{
    background: linear-gradient(to top, rgb(50, 50, 221), rgb(25, 195, 25));
    background-attachment: fixed;
    color: whitesmoke;
    padding: 0;
}

button{
    background-color: #303030;
    padding: 5px 15px;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid #eee;
}

a{
    color: skyblue;
}

a:visited{
    color: aquamarine;
}

a:hover{
    color: cadetblue;
}

.cheader{
    background-image: url("images/background1.jpg");
    background-attachment: fixed;
    position: center;
    background-size: cover;
    border: 4px outset black;
    padding: 1rem;
    border-radius: 24px;
    margin: 0;
}

.mainbody{
    max-width: 90%;
    margin:0 auto;
    padding: 1rem;

    border: #eee;
    border-style: outset;
    border-width: 2px;
    border-radius: 16px;

    background-image: url("images/background2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.foot{
    background-image: url("images/background1.jpg");
    background-attachment: fixed;
    position: center;
    background-size: cover;

    border: 4px outset black;
    border-radius: 6px;
    padding: 0.25rem;
}

.portrait-image{
    border-radius: 8px;
    float: left;
    margin: 0;
}

.classphoto{
    position:static;
    border-radius: 20px;
}

.about-class{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}

.interests-and-skills{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}

@media all and (max-width: 900px) {
    .portrait-image{visibility:hidden;}
    .me-para{margin-left: 0;}
    
}