html{
    font-size:24px;
}

body{
    background: linear-gradient(to top, rgb(50, 50, 221), rgb(25, 195, 25));
    background-attachment: fixed;
    color: whitesmoke;

}

.cheader{
    background-color: black;
    padding: 1rem;
    border-radius: 24px;
}

.mainbody{
    max-width: 90%;
    margin:0 auto;
    padding: 1rem;
    border: #eee;
    border-style: outset;
    border-width: 2px;
    border-radius: 16px;
    background-color: #202020;
    padding-bottom: 520px; /* to accomodate the image at bottom */
}

.foot{
    background-color: black;
    border-radius: 6px;
    padding: 0.25rem;
}

img{
    border-radius: 8px;
    float: left;
    margin: 0;
}

.about-class{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}

.interests-and-skills{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}