html{
    font-size: 0.9em;
}

body{
    background: linear-gradient(to top, rgb(50, 50, 221), rgb(25, 195, 25));
    background-attachment: fixed;
    color: whitesmoke;
    padding: 0;
}

button{
    background-color: #303030;
    color: whitesmoke;
    padding: 1vw 1vw;
    margin-top: 1vw;
    border-radius: 1vw;
    font-size: 1em;
    border: 0.25vw solid #eee;
}

img{
    border: #96f74b solid 0.25vw;
    max-width: 100%;
}

a{
    color: skyblue;
}

i{
    color: whitesmoke;
}

ul{
    padding-left: 1em;
}

a:visited{
    color: aquamarine;
}

a:hover{
    color: cadetblue;
}

.cheader{
    background-image: url("images/background1.jpg");
    background-attachment: fixed;
    position: center;
    align-items: center;
    background-size: cover;
    border: 1vw outset black;
    padding: 2vw;
    border-radius: 2vw;
    margin: 0;
}

.mainbody{
    max-width: 95%;
    margin:0 auto;
    padding: 1rem;

    border: #eee;
    border-style: outset;
    border-width: 0.5vw;
    border-radius: 2vw;

    background-image: url("images/background2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.foot{
    background-image: url("images/background1.jpg");
    background-attachment: fixed;
    position: center;
    background-size: cover;

    border: 0.5vw outset black;
    border-radius: 1vw;
    padding: 0.25rem;
}

.portrait-image{
    border-radius: 8px;
    float: left;
    margin: 0;
}

.classphoto{
    border-radius: 1vw;
}

.about-class{
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    column-gap: 4vw;
}

.interests-and-skills{
    display: grid;
    align-items: left;
    grid-template-columns: 1fr 1fr;
    column-gap: 4vw;
}

.socials-links{
    display: grid;
    align-items: left;
    grid-template-columns: auto auto auto;
    column-gap: auto;
}

ul.socials-list {
    list-style-type: none;
}

@media all and (max-width: 1200px) {
    .portrait-image{display: none;}
    .me-para{margin-left: 0;}
    .classphoto{
        width: 90%;
        object-fit: contain;
    }
}
